<%- include('header'); -%>
 <div class="content">
 <h1 id="welcome"> contacts</h1>
 <table>
   <tr>
     <th>name</th>
     <th>address</th>
     <th>phone No.</th>
     <th>email</th>
   </tr>
   <tr>
    <td>Paul Masson</td>
    <td>13, place Napoleon Bonaparte</td>
    <td>01 45 56 67 78</td>
    <td>email</td>
  </tr>
 </table>
 </div>
<%- include('footer'); -%>